




      <!--
        These are our filter options. The "data-filter" classes are used to identify which
        grid items to show.
        
      <ol id="filters">
        <li data-filter="telecoms">Telecoms</li>
        <li data-filter="test">Test</li>
        <li data-filter="london">London</li>
        <li data-filter="paris">Paris</li>
        <li data-filter="berlin">Berlin</li>
        <li data-filter="sport">Sport</li>
        <li data-filter="fashion">Fashion</li>
        <li data-filter="video">Video</li>
        <li data-filter="art">Art</li>
      </ol>

-->


<% @posts.each do |post| %>

<div class="row">

  <div class="small-3 large-3 columns">


  <h2 style="color:#56aed4"> <%= post.score %> </h2>

  <div>


    <%= link_to image_tag("/images/arrow-up.png"), :method => "post", :action => 'edit', :vote => "up", :id => post.id%>
    <!-- CALL THE REARANGING METHODS AND STOP IT REFRESHING! -->
    <%= link_to image_tag("/images/arrow-down.png"), :method => "post", :action => 'edit', :vote => "down", :id => post.id%>
    <%= link_to image_tag("/images/remove.png"), :method => "post", :action => 'edit', :vote => "junk", :id => post.id%>

  </div>


  </div> <!-- left box-->
  

  <div class="small-9 large-9 columns">

        <h4>Title</h4>   
    <p><%= post.contentSummary[0,150] %><br><b><%= link_to 'find out more', post %></b></p>
    <p>Found: <%=post.datefound%></p>

<div style="border-top: 1px solid; width: 100%; margin-top:30px; padding-bottom:10px; border-color:#ccc"></div> <!-- deviding line -->

  </div> <!-- right box-->

</div> <!-- row -->



<%end%>

 