

<% @posts.each do |post| %>

<div class="opbox">
   <!-- <img src="images/radio.jpg" alt=""> -->
      <h5>Field</h5>
       <p><%= post.contentSummary %><b><%= link_to 'find out more', post %></b></p>

        <div class="controlpannel">
        <%= image_tag "/images/arrow-up.png" %>
        <%= image_tag "/images/arrow-down.png" %>
        <%= link_to image_tag("/images/remove.png"), post, :method => :delete %>

        
        <!-- works but doens't update
        <%= link_to "Delete post", post, remote: true, method: :delete %>
      -->
        </div>

        </div>


<% end %>



