



<% @posts.each do |post| %>

<div class="opbox">
   <!-- <img src="images/radio.jpg" alt=""> -->
      <h4>"  <h4>
       <p><%= post.contentSummary %><b><%= link_to 'find out more', post %></b></p>

        <div class="controlpannel">
         <h4> <%= post.score %> </h4>



    <%= link_to "up", :method => "post", :action => 'up_vote', :id => post.id %>
    <%= link_to "down", :method => "post", :action => 'down_vote', :id => post.id %>

        <%= link_to image_tag("/images/arrow-up.png"), post, :method => :delete %>
        <%= link_to image_tag("/images/arrow-down.png"), post, :method => :delete %>
        <%= link_to image_tag("/images/remove.png"), post, :method => :delete %>
 
        </div>

        </div>


<% end %>







