



<% @posts.each do |post| %>

<div class="opbox">
   <!-- <img src="images/radio.jpg" alt=""> -->
      <h4>" <h4>
       <p><%= post.contentSummary %><b><%= link_to 'find out more', post %></b></p>
       <p><%= post.link[10,15]%>...</p>
        <div class="controlpannel">
         <p><%= post.tags %> <%= post.score %> </p>



    <%= link_to image_tag("/images/arrow-up.png"), :method => "post", :action => 'up_vote', :id => post.id %>
    <%= link_to image_tag("/images/arrow-down.png"), :method => "post", :action => 'down_vote', :id => post.id %>
    <%= link_to image_tag("/images/remove.png"), post, :method => :delete %>
 
        </div>

        </div>


<% end %>







