




      <!--
        These are our filter options. The "data-filter" classes are used to identify which
        grid items to show.
        
      <ol id="filters">
        <li data-filter="telecoms">Telecoms</li>
        <li data-filter="test">Test</li>
        <li data-filter="london">London</li>
        <li data-filter="paris">Paris</li>
        <li data-filter="berlin">Berlin</li>
        <li data-filter="sport">Sport</li>
        <li data-filter="fashion">Fashion</li>
        <li data-filter="video">Video</li>
        <li data-filter="art">Art</li>
      </ol>

    -->


    <% @posts.each do |post| %>

    <div class="row" id="postbox">

      <div class="small-3 large-3 columns">

        <div id="score">
          <h2> <%= post.score %> </h2>
        </div>

        <div id="control">


          <%= link_to image_tag("/images/arrow-up.png"), {:method => "post", :action => 'edit', :vote => "up", :id => post.id}, :remote => true , :class => 'changescore'%>
          <%= link_to image_tag("/images/arrow-down.png"), {:method => "post", :action => 'edit', :vote => "down", :id => post.id}, :remote => true, :class => 'changescore' %>
          <%= link_to image_tag("/images/remove.png"), {:method => "post", :action => 'edit', :vote => "junk", :id => post.id}, :class => "delete_post", :remote => true %>




          <br>
          <br>
          <%=post.datefound %>





        </div>


      </div> <!-- left box-->


      <div class="small-9 large-9 columns">

         
        <div id="summary">
          <p><%= post.contentSummary %>
          <b><a href="#" class="full-content-reveal"> Expand</a></b><p> 
          </div>

          <div id="full-content"><p><br><%= post.content %></p><p><a href="<%=post.link%>" target="new">Read original article</a></p></div>

          Tags:
          <% (post.tags.split(' ')).each do |item| %>
          <span class="radius secondary label"><%= link_to item, :method => "post", :action => 'index', :search => item %></span>
          <% end %>


          <div style="border-top: 1px solid; width: 100%; margin-top:30px; padding-bottom:10px; border-color:#ccc"></div> <!-- deviding line -->

        </div> <!-- right box-->

      </div> <!-- row -->


      <%end%>
      <br>
      <div style="text-align:right">
        <p><%= paginate @posts %></p>
      </div>
      <br>

