<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8" />

 <!-- Uncomment to make IE8 render like IE7 -->
 <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

 <!-- Set the viewport width to device width for mobile -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

 <%= stylesheet_link_tag    "application" %>
 <%= javascript_include_tag "vendor/custom.modernizr" %>
 <%= csrf_meta_tags %>


</head>

<body>


  <div class="fixed">
    <nav class="top-bar">

      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">futurebot</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>


      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </section>
    </nav>





  <header>

    <div class="row">

      <div class="twelve columns">

      <div class="large-1 columns top topone">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top toptwo">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topthree" >
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topfour">
        <%= image_tag "/images/lab.png" %>
      </div>


      <div class="large-1 columns top topfive">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topsix">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topseven">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topeight">
        <%= image_tag "/images/lab.png" %>
      </div>


      <div class="large-1 columns top topnine">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topten">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top topeleven">
        <%= image_tag "/images/lab.png" %>
      </div>

      <div class="large-1 columns top toptwelve">
        <%= image_tag "/images/lab.png" %>
      </div>


    </div>
    </div>
  </header>

   </div> <!-- fixed -->

<section id="main">



  <div class="row">
            <br>
        <br>
        <br>
    <div class="twelve columns">
    <div class="large-12 large-centered columns mainContent">

      <div class="row">

        <div class="large-6 columns"><%= yield %></div>
        <div class="large-3 large-offset-1 columns"><br><br>Latest comments</div>
      </div>
    </div>
  </div>
  </div>

</section>




<!-- MORE INFO WINDOW -->


<div id="myModal" class="reveal-modal">
 <h1>Modal Title</h1>
 <p>Any content could go in here.</p>
 <a class="close-reveal-modal">&#215;</a>
</div>





<%= javascript_include_tag "application" %>
</body>
</html>
